.main-navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
  margin-top: -135px;
  background-color: #fff;
  /* border: 1px solid red; */
}

@media screen and (max-width: 330px) {
  .main-navbar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    margin-top: -185px;
    background-color: #fff;
    /* border: 1px solid red; */
  }
}
