.product_page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.product_panelist-wrap{
    display: flex;
    flex:1
}
.product-filter{
    /* background-color: blue; */
    flex-basis: 280px;
    padding: 1rem;
    margin-left: 5rem;
}
.product_list-wrap{
    /* background-color: red; */
    flex:1;
    padding:1rem
}
.product_panelist-wrap,.product-filter,.product_list-wrap{
    overflow-y: auto;
}
.searchBar-filter{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom:3px;
    padding: 1.5rem,1rem;
}
.searchBar-icon{
    color:lightgray;
    margin-right: 1.5rem;
}
.searchBar-filter input{
    font-size: 1rem;
    outline: none;
    border: none;
    width:250px
}
.searchBar-filter input::placeholder{
    color:lightgray
}
.label{
   margin-bottom: 0.8rem; 
   font-weight: 600;
}
.input-group{
    margin-bottom: 2rem;
}
.label-range{
    margin-bottom: 2.5rem;
}