.productPage{
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    margin: auto;
    gap:2rem;
}
.productPage> .options{
    width: 20%;
    /* background-color: beige; */
}
.options{
    padding: 1.5rem;
    /* position: fixed;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    /* width: 100%; */
    margin-left: 20px;
    border-right-color: 1px solid grey;
}
.productPage > .products{
    width: 80%;
}
.products{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 2rem;
    /* position: relative; */
}
.singleProduct{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap:1rem; */
    height: 320px;
    object-fit: cover;
    margin: 0.7rem;
    border-radius: 10px;
}
.singleProduct > img{
    height: 150px;
}
.sortData>label,.sortData>input :hover{
    /* border: 1px solid; */
    /* width: 100%; */
    cursor: pointer;
}

.singleProduct > img{
    cursor: pointer;
}

@media all and (max-width:1300px) and (min-width:728px){
    
    .singleProduct{
        height: 260px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .productPage> .options{
        width: 17%;
        padding: 1rem 1rem 0 3rem;
    }
    .productPage{
        display: flex;
        gap: 1rem;
    }
}

@media all and (max-width:727px) and (min-width:200px){
    .products{
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 1rem; */
        margin-left: 1rem;
    }
    .productPage> .options{
        width: 15%;
        padding: 0.5rem;
    }
    .productPage{
        display: flex;
        gap: 0.5rem;
    }
    .options{
        margin-left: 60px;
    }
}

.btn{
    color: white;
    background-color: rgb(255, 14, 86);
    width: 170px;
    padding: 0.6rem;
    transition: 0.3s;
    transition-timing-function: ease-in;
    border-radius: 5px;
    border:none;
  }
  
  .btn:hover{
    color: rgb(255, 14, 130);
    background-color: white;
    border-color: rgb(255, 14, 135);
    border: 1px solid rgb(255, 14, 203);
  }