

  .productHomePage2 {
    width: 92%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 45px;
    z-index: 999;
  }
  .cover{
    display: flex;
    gap:20px;
     /* border: 8px solid rgb(159, 6, 175); */
  }
  .productHomePage_sidebar_h12 {
    width: 30%;
    height: auto;
     /* border: 5px solid rgb(0, 229, 255); */
    /* border: 1px solid rgb(76, 0, 255); */
  }
  
  .productHomePage_sidebar_h12 h1 {
    /* font-size: 20px; */
    font-weight: 600;
  }
    .productHomePage_sidebar_h12 h3{
      font-size: 18px;
      color:rgb(244, 51, 151)
    }
    .d-flex{
      padding: 15px;
      width:60%;
      align-content: center;
     }
  
  .form-content{
    width:420px;
    height:38px;
    border:2px solid rgb(14, 14, 13);
    color:#cc2293;
    border-radius: 5px;
    text-indent: 10px;
  }
 #mx-2m{
  color:white;
  background-color:rgb(244, 51, 151) ;
  margin-right: 4px;
  margin-left: 4px;
 }
 #mx-2{
 color:white;
 background-color:rgb(244, 51, 151)  ;
 }


 
 
 
/* part2 */
   .side_product_divs2 {
    width: 100%;
    height: 100%;
    /* border: 3px solid blue;  */
    display: flex;
    justify-content: space-between;
  }
  .productHomePage_sidebar2 {
    width: 25%;
    height: auto;
    /* border: 7px solid red;  */
  } 
  .product_Sort_by2 {
    border: 1px solid lightgrey;
    height: 30px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    border-radius: 3px;
    justify-content: space-around;
  }
  
  .product_sort_by_para2 {
    height: 100%;
    width: 80%;
    display: flex;
    /* border: 1px solid red; */
  
    /* align-items: center; */
  }
  
  .alliswell2 {
    display: flex;
    display: 100%;
    /* border: 1px solid red; */
  }
  
  .menu_btn2 {
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .iconinc2 {
    width: 10%;
    /* border: 1px solid red; */
  }
  
  .sort_by_product2 {
    margin-left: 10px;
    /* font-size: 12px; */
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  .sort_by_product2 span {
    color: gray;
  }
  
  .product_filter_by2 {
    border: 1px solid lightgray;
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 3px;
  }
  
  .filters_product_div_text2 {
    height: auto;
    width: 86%;
    border-bottom: 1px solid lightgray;
    margin: auto;
  }
  
  
  .filters_product_div_text2 :nth-child(1) {
    margin-top: 15px;
    /* font-size: 13px; */
    font-weight: bold;
  }
  
  .filters_product_div_text2 :nth-child(2) {
    margin-bottom: 18px;
    /* font-size: 9px; */
    color: gray;
    font-weight: bold;
  }
  
  .category_product2 {
    width: 86%;
    min-height: 44px;
    max-height: 300px;
    border-bottom: 1px solid lightgray;
    margin: auto;
    /* margin-top: 10px; */
  }
  
  .category_text_product2 {
    width: 100%;
    height: 40px;
    max-height: 300px;
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rest_category_text_product2 {
    height: auto;
    max-height: auto;
    width: 100%;
  }
  
  .input_categ2 {
    border: 1px solid gray;
    height: 40px;
    width: 100%;
    margin: auto;
    border-radius: 3px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .input_categ2 input {
    height: 100%;
    width: 100%;
    /* font-size: 12px; */
    margin-left: 5px;
    color: grey;
    border: none;
    outline: none;
  }
  
  .mar-top2 {
    margin-top: 15px;
  }
  
  .check_box_cate2 {
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
    align-items: center;
  }
  
  .check_box_cate2 input[type="checkbox"]:checked {
    accent-color: #cc2293;
  }
  
  .check_box_cate2 p {
    margin-left: 5px;
    /* font-size: 14px; */
    font-weight: 500;
  }
  
  .category_text_product_gender2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .category_text_product_gender2 .all_gender2 {
    border: 1px solid gray;
    /* font-size: 13px; */
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
  }
  
  .category_text_product_price2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .all_price2 {
    border: 1px solid gray;
    /* font-size: 13px; */
    text-align: center;
    border-radius: 30px;
    width: 100%;
    font-weight: 600;
  }
  
  .category_text_product_fabbric2 {
    width: 100%;
    height: auto;
  }
  
  /* ///////////////////////////////////////////////Need to start from here//////// */
  
  .productHomePagelist {
    width: 72%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
#gif2 {
    width:60%;
    height:300px
  }
  .products_div2 {
    height: auto;
    /* width: 25%; */
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .products_div2 img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .all_details_products2 {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    /* border: 1px solid gray; */
  }
  
  .all_details_products2 .all_details_products_para2 {
    color: gray;
    font-weight: 600;
    /* font-size: 13px; */
  }
  .price_product2 {
    display: flex;
    margin-top: 10px;
  }
  
  .all_details_products_price2 {
    font-weight: 600;
    /* font-size: 23px; */
  }
  
  .price_product2 :nth-child(2) {
    color: gray;
    margin-top: 13px;
    /* font-size: 10px; */
    margin-left: 3px;
  }
  
  .free_not_de2 {
    width: 90px;
    /* border: 1px solid gray; */
    border-radius: 20px;
    background-color: #f9f9f9;
    margin-top: 10px;
  }
  
  .free_not_de2 p {
    /* font-size: 11px; */
    text-align: center;
    font-weight: 500;
    color: gray;
  }
  
  .rating_products2 {
    display: flex;
    width: 100%;
    height: 20px;
    /* border: 1px solid blue; */
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .rating_star2 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
  }
  
  .rating_green2 {
    border-radius: 20px;
    width: 30%;
    background-color: #038d63;
  }
  
  .x {
    color: #fff;
  }
  
  .productHomePage_product_side_loading2 {
    width: 450%;
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productHomePage_product_side_loading2 img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
  }
  
  #topic2{
    margin: 0px;
    font-family:-apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
  }
  #inpu2t{
    width: 420px;
     height:38px;
     border: 2px solid black;
      color: #cc2293;
       border-radius: 5px;
       text-indent: 10px;
  }


  /* MEDIA QUERY */
  

  @media all and (max-width:768px) and (min-width:275px){
    .productHomePage2 {
      width:98%;
      /* border: 1px solid rgb(4, 51, 11); */
    }
    .productHomePage_sidebar_h12 h1{
      font-size: 15px;
    }
    .productHomePage_sidebar_h12 h3{
      font-size: 14px;
    }
    .cover{
      display:flex;
    }
    .form-content{
      width:200px;
      height:30px;
      border:2px solid rgb(11, 11, 11);
      color:#cc2293;
      border-radius: 5px;
      text-indent: 10px;
    }
  
    #mx-2m{
      color:white;
      background-color:rgb(244, 51, 151) ;
      width:52px;
      height:35px;
      margin-top:3px
      
     }
     #mx-2{
      color:white;
      background-color:rgb(244, 51, 151)  ;
      width:48px;
      height:35px;
      margin-top:3px
      }
    .side_product_divs2 {
      width: 100%;
      height: 100%;
      /* border: 3px solid blue;  */
      display: flex;
      justify-content: space-between;
      gap:20px
    }
    .productHomePage_sidebar2 {
      width: 58%;
      height: auto;
      /* border: 7px solid red;  */
    } 
    .productHomePagelist {
      width: 72%;
      height: 80%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
    .products_div2 {
      height: auto;
      width: 85%;
      border: 1px solid lightgray;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  @media all and (max-width:1300px) and (min-width:768px){
    .productHomePage2 {
      width:100%;
      /* border: 1px solid rgb(4, 51, 11); */
    }
    .productHomePage_sidebar_h12 h1{
      font-size: 20px;
    }
    .productHomePage_sidebar_h12 h3{
      font-size: 18px;
    }
    .cover{
      display:flex;
    }
    .form-content{
      width:430px;
      height:32px;
      border:2px solid rgb(15, 15, 15);
      color:#cc2293;
      border-radius: 5px;
      text-indent: 10px;
    }
    .side_product_divs2 {
      width: 100%;
      height: 100%;
      /* border: 3px solid blue;  */
      display: flex;
      justify-content: space-between;
      gap:20px
    }
    .productHomePage_sidebar2 {
      width: 48%;
      height: auto;
      /* border: 7px solid red;  */
    } 
    .productHomePagelist {
      width: 72%;
      height: 80%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }
    .products_div2 {
      height: auto;
      width: 85%;
      border: 1px solid lightgray;
      border-radius: 3px;
      cursor: pointer;
    }
    
   }
  /* part-ii */
 