.lower_nav_bar {
  width: 100%;
  height: 40px;
  /* border: 1px solid black; */
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.lower_nav_bar_divs {
  display: flex;
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.lower_nav_bar_divs_para {
  font-size: 12px;
  font-weight: 600;
  color: #c76993;
  /* color: red; */
}

.abc:hover {
  color: red;
}

.xyz {
  display: flex;
}

@media screen and (max-width: 330px) {
  .lower_nav_bar_divs {
    display: flex;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .lower_nav_bar_divs_para {
    font-size: 9px;
    font-weight: 500;
    /* color: red; */
  }
}
